<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../images/app-logo.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/my_store_app.css" />
    <title>My Online Store!</title>
  </head>
  <body>
    <div class="app-container">
      <section class = "search-bar">
        <input type="search" placeholder="Product....">
      </section>
      <nav class="app-navbar"></nav>
      <section class="app-content"></section>
      <footer class="app-footer flex-al-jb p4-p4">
        <p>Created by Dulces Incorporated</p>
        <p>2022</p>
      </footer>
    </div>
  </body>
  <script type="module" src="../scripts/my_store_app.js" defer></script>
</html>
