/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Dongle", sans-serif;
}

/*body*/
body {
  background-color: #f8f8f8;
}
/*header*/
.app-header {
  background-color: #c0c0c0;
  border-bottom: 2px solid #808080;
}

.app-header h1 {
  font-size: 200%;
}

.app-header img {
  width: 36px;
  height: 36px;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
/*search bar*/
.search-bar{
  background-color: #c0c0c0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-bar input{
  margin: 4px;
  width:80%;
  border-radius: 8px;
  padding: 1% 1%;
  outline: none;
  font-size: 16px;
}

/*navbar*/
.categories-container{
  border-bottom: 2px solid #808080;
}

.category-container:hover {
  background-color: #a9a9a9;
  border-radius: 8px;
  border: 2px none;
  display: flex;
  padding: 0px 8px;
}
/*footer*/
footer {
  background-color: #c0c0c0;
  border-top: 2px solid #808080;
  width: 100%;
  height: 40px;
}

footer p {
  font-size: 160%;
}

@media (max-width: 241px) {
  .app-header h1 {
    font-size: 150%;
  }

  .app-header img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 304px) {
  .app-footer p {
    font-size: 100%;
    color: aquamarine;
  }
  .categories-container{
    flex-direction: column;
  }
}

/*Utils*/
.flex-al-jb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-al-ja {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p4-p4 {
  padding: 4px 4px;
}
